body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.category-item {
	padding-right: 15px;
}

.dropdown-input {
	padding-left: 10px;
	padding-right: 10px;
}

.alert {
	margin-top: 20px;
}

.notice-text {
	white-space: pre-line;
}

body {
	background-color: rgb(235, 235, 235);
}